.aboutContainer {
  max-width: 900px;
  margin: 50px auto; /* Centers the container */
  padding: 40px; /* Adds space inside */
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.aboutWrapper {
  padding: 0 50px; /* Adds padding on the sides */
}
.aboutTitle {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding: 20px;
}

.aboutText {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
  padding: 20px;
}

.aboutImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.aboutGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.aboutCard {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
}

.aboutCard h3 {
  margin-bottom: 10px;
  color: #444;
}

.aboutCard p {
  font-size: 1em;
  color: #666;
}
