/*  砖 驻 拽 转 转 注爪 */
.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f3eb;
  padding: 20px;
  margin: auto;
}

/* 注 转 砖 转转 专拽注 */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*   注 专拽注 转 砖砖转 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*  转 转 专   砖 转 */
.mainContent {
  margin-top: 80px;
  /* 专 注转 转 */
  padding: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
