.profileWrapper {
  padding: 20px;
  max-width: 500px;
  margin: 70px auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formRow label {
  width: 140px; /* Fixed width for labels */
  font-weight: bold;
  text-align: right;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.disabledInput {
  background-color: #797676;
  cursor: not-allowed;
}

.saveButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #008cba;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:disabled {
  background-color: #7db9d0;
  cursor: not-allowed;
}
