/* עיצוב כללי של דף ההרשמה */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.registerBox {
  background: rgba(255, 255, 255, 0.7);
  /* רקע שקוף למחצה */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  /* הקטנת גודל הטופס */
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 22px;
}

.inputGroup {
  margin-bottom: 10px;
  text-align: left;
}

.inputGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.registerButton {
  width: 100%;
  padding: 8px;
  background: #1e3c72;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.registerButton:hover {
  background: #163a5f;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.success {
  color: green;
  font-weight: bold;
  font-size: 14px;
}